.header {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(../../img/test.webp);
  background-position: center;
  background-size: cover;
}

.headerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Lora", sans-serif;
  font-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerText h1 {
  font-size: 3.5em;
  position: relative;
  white-space: nowrap;
}

.headerText h2 {
  font-size: 2.5em;
  white-space: nowrap;
}

hr {
  width: 200px;
  line-height: 1;
  animation: grow 1s linear forwards;
  margin: 10px 0;
}

@media (max-width: 1000px) {
  .headerText {
    font-size: 75%;
  }
}

@media (max-width: 525px) {
  .headerText {
    font-size: 65%;
  }
}

@media (max-width: 425px) {
  .headerText {
    font-size: 55%;
  }
}

@media (max-width: 365px) {
  .headerText {
    font-size: 50%;
  }
}
