.header {
  background-color: #f5f5f5;
  padding-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  gap: 100px;
}

.header h1 {
  font-family: "Playfair Display", serif;
  font-size: 55px;
  font-weight: 400;
  white-space: nowrap;
  color: black;
  line-height: 1.25;
}

.header p {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 300;
  color: black;
  margin-top: 3rem;
  width: 450px;
  line-height: 1.4;
  margin-bottom: 5rem;
}

/* .svgContainer {
  width: 40vw;
  height: auto;
} */

.headerSvg {
  width: 40%;
  height: 40%;
}

.seeMore {
  border: none;
  background-color: transparent;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  cursor: pointer;
  animation: scaler 5s linear infinite;
}

@keyframes scaler {
  0% {
    transform: scale(1);
  }

  33% {
    transform: scale(1.2);
  }

  66% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@media (max-width: 1075px) {
  .header {
    padding-left: 100px;
  }
  .header h1 {
    font-size: 44px;
  }
  .header p {
    width: 35vw;
  }
}

@media (max-width: 750px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 100px;
    gap: 0px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }

  .header h1 {
    font-size: 55px;
  }

  .header p {
    width: 100%;
  }

  .headerSvg {
    width: 350px;
    height: 350px;
    align-self: center;
  }

  .seeMore {
    display: none;
  }
}

@media (max-width: 550px) {
  .header {
    padding-left: 25px;
    padding-right: 25px;
  }

  .header h1 {
    font-size: clamp(40px, 8vw, 70px);
  }

  .header p {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .headerSvg {
    width: 275px;
    height: 275px;
  }
}
