.footer-test {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding-top: 200px;
  padding-left: 25px;
  background: linear-gradient(
    to right,
    white 0%,
    white 50%,
    rgb(189, 189, 189) 50%,
    rgb(189, 189, 189) 100%
  );
}

.footer-test__content {
  display: flex;
  justify-content: space-between;

  height: 600px;
  width: 75%;
  background-color: black;
  padding: 100px 50px;
  z-index: 3;
}

.footer-test__content h3 {
  color: #fff;
  font-size: "Lora", sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 12.5px;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.footer-company {
  color: #fff;
}

.footer-company p {
  width: 30vw;
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 50px;
}

.footer-test__content h1 {
  color: rgb(200, 200, 200);
  margin-bottom: 15px;
}

.footer-company a {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 8px 24px;
  font-size: 20px;
}

.footer-subbox {
  font-family: "Lora", sans-serif;
  font-weight: 400;
}

.footer-subbox h2 {
  color: #fff;
  font-size: 20px;
}

#first-subbox {
  margin-bottom: 100px;
}

#copyright {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 13px;
}

@media (max-width: 1000px) {
  .footer-test__content {
    flex-direction: column;
  }

  #first-subbox {
    margin-bottom: 50px;
  }

  .footer-subbox {
    margin-bottom: 50px;
  }

  .footer-company p {
    width: 100%;
    font-size: 15px;
  }

  .footer-subbox h2 {
    font-size: 15px;
  }

  .footer-test__content h1 {
    font-size: 19px;
  }
}

@media (max-width: 775px) {
  .footer-test img {
    position: absolute;
    top: 10%;
    right: 0%;
  }
}

@media (max-width: 700px) {
  .footer-test {
    background-image: url(../../img/topography.svg);
    background-position: center;
    background-size: cover;
  }
  .footer-test__content {
    width: 85%;
    height: auto;
    padding: 100px 25px;
  }

  .footer-test {
    padding-top: 0px;
    padding-left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-test img {
    display: none;
  }

  #copyright {
    display: none;
  }
}
