@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Lora&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

:root {
  --green: #41b3a3;
  --green: #98ddd4c9;
  --max-width: 1170px;
  --fixed-width: 920px;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--red);
  transform-origin: 0%;
  z-index: 42;
}

/* .title-content {
  background-color: rgb(65, 179, 163, 0.35);
} */

.section-title {
  /* padding-top: 50px; */
  font-size: 35px;
  font-family: "Inter", sans-serif;
  z-index: 50;
  text-align: center;
  color: black;
  position: relative;
  padding-bottom: 10px;
}

.white-title {
  padding-top: 50px;
  font-size: 35px;
  font-family: "Inter", sans-serif;
  text-align: center;
  padding-bottom: 10px;
}

.white-text {
  font-size: 19px;
  font-family: "Lora", sans-serif;
  margin: 0 auto;
  text-align: center;
}

.section-text {
  font-size: 19px;
  font-family: "Lora", sans-serif;
  margin: 0 auto;
  text-align: center;
  position: relative;
  color: black;
  z-index: 70;
}

.home-section {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", sans-serif;
  /* background-color: #5cdb95; */
  position: relative;
}

.home-section p {
  z-index: 3;
}

.workflow {
  padding: 100px 0;
  position: relative;
  background-color: #f5f5f5;
}

.workflow svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 35;
}

#icon {
  font-size: 50px;
}

.singleIcon {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0px 0px 8px 3px rgba(140, 140, 140, 0.15);
  border-radius: 50%;
  z-index: 50;
}

.ghost {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}

@media (max-width: 900px) {
  .singleIcon {
    width: 70px;
    height: 70px;
  }

  .ghost {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 850px) {
  .workflow {
    padding: 100px 100px;
  }
}

@media (max-width: 700px) {
  .home-section {
    padding-left: 15px;
    padding-right: 15px;
  }

  .alert-section {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 650px) {
  .workflow {
    padding: 100px 50px;
  }
}

@media (max-width: 550px) {
  .singleIcon {
    width: 50px;
    height: 50px;
  }
  .white-text {
    font-size: 17px;
  }

  .section-text {
    font-size: 17px;
  }

  .ghost {
    width: 50px;
    height: 50px;
  }

  #icon {
    font-size: 35px;
  }
}

#logo {
  height: 60px;
  width: 60px;
}
