main {
  display: flex;
  justify-content: center;
}

.questionList {
  display: flex;
  flex-direction: column;
}

.elementBin {
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 42;
  position: relative;
}

.elementBin button {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-left: 1px solid rgb(15, 15, 15);
}
